@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{

    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #EEEEEE;
}

header h2{
    color: #008000;
    font-size: 36px;
    font-weight: 600;
    position: absolute;
    top: 30px;
    left: 750px;
}

#reta{
    position: absolute;
    top: 100px;
    background-color: #D9D9D9;
    width: 1905px;
    height: 3px;
}

#logo{
    width: 50px;
    height: 63px;
    position: absolute;
    top: 20px;
    left: 30px;
}

#imagem_dicas{
    position: absolute;
    bottom: -1px;
    left: 40px;
    width: 820px;
    height: 820px;
}

.banner{
    background-color: #008000;
    width: 900px;
    height: 786px;
    overflow-y: auto;
    padding-right: 12px;
    position: absolute;
    top: 135px;
    right: 50px;
    border-radius: 18px;
    scrollbar-color: white green;
    box-shadow: 0px 4px 20px rgba(3, 18, 33, 0.6);
}

.banner p{
    background-color: transparent;
    font-size: 17px;
    margin-bottom: 53px;
    margin-left: 10px;
    margin-top: 50px;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

#clique_aqui{
    background-color: transparent;
    font-size: 17px;
    margin-top: 50px;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    text-decoration: none;
}
