@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{

    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #EEEEEE;
    color: black;
    text-align: center;
    padding: 20px;
}

header h2{
    color: #008000;
    font-size: 36px;
    font-weight: 600;
    position: absolute;
    top: 50px;
    left: 650px;
}

.verde{
    background-color: #008000;
    height: 20px;
    width: 1920px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#logo{
    width: 50px;
    height: 63px;
    position: absolute;
    top: 40px;
    left: 30px;
}

#reta{
    position: absolute;
    top: 120px;
    left: 0px;
    background-color: #D9D9D9;
    width: 1920px;
    height: 3px;
}

#perfil{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 45px;
    right: 30px;
}

.card1{
    background-color: #96CB9B;
    width: 400px;
    height: 250px;
    overflow-y: auto;
    padding-right: 12px;
    position: absolute;
    top: 200px;
    left: 250px;
    border-radius: 18px;
    scrollbar-color: white green;
    box-shadow: 0px 4px 20px rgba(3, 18, 33, 0.6);
}

#calendario{
    position: absolute;
    top: 20px;
    left: 165px;
}

#calendario_text{
    position: absolute;
    top: 120px;
    color: black;
}

.card2{
    background-color: #96CB9B;
    width: 400px;
    height: 250px;
    overflow-y: auto;
    padding-right: 12px;
    position: absolute;
    top: 200px;
    left: 750px;
    border-radius: 18px;
    scrollbar-color: white green;
    box-shadow: 0px 4px 20px rgba(3, 18, 33, 0.6);
}

#meditar{
    position: absolute;
    top: 15px;
    left: 145px;
}

#meditar_text{
    position: absolute;
    top: 140px;
    color: black;
}

.card3{
    background-color: #96CB9B;
    width: 400px;
    height: 250px;
    overflow-y: auto;
    padding-right: 12px;
    position: absolute;
    top: 200px;
    right: 250px;
    border-radius: 18px;
    scrollbar-color: white green;
    box-shadow: 0px 4px 20px rgba(3, 18, 33, 0.6);
}

#tabela{
    position: absolute;
    top: 30px;
    left: 160px;
}

#tabela_text{
    position: absolute;
    top: 140px;
    left: 80px;
    color: black;
}

.card4{
    background-color: #96CB9B;
    width: 400px;
    height: 250px;
    overflow-y: auto;
    padding-right: 12px;
    position: absolute;
    bottom: 100px;
    left: 750px;
    border-radius: 18px;
    scrollbar-color: white green;
    box-shadow: 0px 4px 20px rgba(3, 18, 33, 0.6);
}

#baforada{
    position: absolute;
    top: 25px;
    left: 180px;
}

#baforada_text{
    position: absolute;
    top: 140px;
    color: black;
}

.card5{
    background-color: #96CB9B;
    width: 400px;
    height: 250px;
    overflow-y: auto;
    padding-right: 12px;
    position: absolute;
    bottom: 100px;
    left: 250px;
    border-radius: 18px;
    scrollbar-color: white green;
    box-shadow: 0px 4px 20px rgba(3, 18, 33, 0.6);
}

#cesta{
    position: absolute;
    top: 20px;
    left: 155px;
}

#cesta_text{
    position: absolute;
    top: 140px;
    color: black;
}

.card6{
    background-color: #96CB9B;
    width: 400px;
    height: 250px;
    overflow-y: auto;
    padding-right: 12px;
    position: absolute;
    bottom: 100px;
    right: 250px;
    border-radius: 18px;
    scrollbar-color: white green;
    box-shadow: 0px 4px 20px rgba(3, 18, 33, 0.6);
}

#anilha{
    position: absolute;
    top: 10px;
    left: 140px;
}

#anilha_text{
    position: absolute;
    top: 140px;
    left: 45px;
    color: black;
}
